*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  background-color: #4d5ae5;
  color: aliceblue;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-studio {
  color: #2e2f42;
}
.header-menu-list {
  display: flex;
  gap: 40px;
}
.header-menu-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}
.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
  opacity: 1;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.address-menu-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.address-menu-item {
}

.address-menu-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-menu-link:hover,
.address-menu-link:focus {
  color: #404bbf;
}

.hero {
  max-width: 320px;
  margin: 0 auto;
  background: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and(resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-2x.jpg);
  }
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  display: block;
  margin-bottom: 48px;
}
.hero-btn {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  min-height: 56px;
  text-align: center;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  color: #fff;
}

.about-us {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.services-item {
  flex-basis: calc((100% - 72px) / 4);
}

.services-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.services-subtitle {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.services-item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  flex-wrap: nowrap;
  display: flex;
  gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
}

.team-item {
  background-color: #ffffff;
  width: 264px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.container-team {
  padding: 32px 0;
  text-align: center;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.team-icon-item {
}

.team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

.team-icon-link:hover {
  background-color: #404bbf;
}

.team-icon-link:focus {
  background-color: #404bbf;
}

.portfolio {
  padding: 120px 0;
}

.portfolio-card-container {
  padding: 32px 16px 31px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
}

.portfolio-item:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-images {
  width: 100%;
  height: auto;
  display: block;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
  padding-top: 92px;
  padding-bottom: 92px;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer-list {
  margin-right: 120px;
}

.footer-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-studio {
  color: #f4f4fd;
}
.footer-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-bottom: 72px;
}

.footer-icon {
  margin-right: 80px;
  margin-bottom: 72px;
}

.footer-text-icon {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-icon-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
}

.footer-icon-link {
  display: flex;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-svg {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}

.footer-icon-link:hover {
  background-color: #31d0aa;
}

.footer-icon-link:focus {
  background-color: #31d0aa;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.form-label {
  line-height: 1.17;
}

.form-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  line-height: 2;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  height: 40px;
  min-width: 165px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}
.form-icon {
  fill: #ffffff;
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #2e2f42;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-info {
  margin-bottom: 8px;
}

.modal-lable {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input-icon {
  position: relative;
}

.input-info {
  border-radius: 4px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  padding-left: 38px;
  padding-right: 20px;
}

.input-info:focus,
.input-info:hover {
  border-color: #4d5ae5;
}

.input-info:focus + .input-info-icon {
  fill: #4d5ae5;
}

.input-info-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-comment-area {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
}

.radio-btn:checked + .privacy-policy-radio-btn .modal-checkbox {
  background-color: var(--checkbox-bg, #404bbf);
  border: none;
  fill: #f4f4fd;
}

.modal-comment-area::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-comment-area:focus-within {
  border-color: #4d5ae5;
}

.modal-radio-checkbox {
  margin-bottom: 24px;
}

.privacy-policy-radio-btn {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
}

.privacy-policy-link {
  color: #4d5ae5;
  line-height: 1.33;
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 0.04em;
}

.modal-btn-send {
  display: block;
  font-family: 'Roboto', sans-serif;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  border: none;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
}

.modal-btn-send:hover,
.modal-btn-send:focus {
  background-color: #404bbf;
}

/* mobmenu */
.header-burger {
  padding: 16px 0 8px;
  cursor: pointer;
}

.mobmenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 72px 16px;
  background-color: #fcfcfc;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobmenu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 20;
}

.mobmenu-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #2e2f42;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobmenu-close-icon {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobmenu-list {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}
.mobmenu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobmenu-link.current {
  color: #404bbf;
}

.mobmenu-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.address-mobmenu-list {
  display: flex;
  flex-direction: column;
  gap: 22px 0;
  padding-bottom: 46px;
}
.address-mobmenu-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #4d5ae5;
}
.address-mobmenu-link.mail {
  color: #434455;
}

.mobmenu-icon-list {
  display: flex;
  gap: 0 40px;
  padding-bottom: 44px;
}

.mobmenu-icon-link {
  display: flex;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobmenu-icon-svg {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}

.footer-icon-link:hover {
  background-color: #31d0aa;
}
.footer-icon-link:focus {
  background-color: #31d0aa;
}

/* mobile */
@media screen and (max-width: 767px) {
  .services-list-icon {
    display: none;
  }

  /* header */
  .header-menu-list,
  .header-address {
    display: none;
  }

  /* hero */
  .hero {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .hero-title {
    font-size: 36px;
    line-height: 1.11;
    width: 216px;
    margin-bottom: 72px;
  }

  /* about-us */
  .about-us {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .services-list {
    gap: 72px;
  }
  .services-item {
    flex-basis: 100%;
  }
  .services-subtitle {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
  }

  /* team h 2232px */
  .team {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  /* portfolio */
  .portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .portfolio .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .portfolio-item-text {
    padding: 0;
  }

  /* footer */
  .footer {
    padding: 98px 0;
  }
  .footer-link {
    display: block;
    text-align: center;
  }
  .footer-list {
    width: 100%;
    margin-right: 0;
  }
  .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .footer-icon {
    width: 100%;
    margin-right: 0;
  }
  .footer-text-icon {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .footer-icon-list {
    justify-content: center;
  }
  .footer-subscribe {
    width: 453px;
    margin-right: 0;
  }
  .form {
    gap: 16px;
    justify-content: center;
  }
  .form-input {
    width: 100%;
  }
  .form-button {
    padding-left: 16px;
    padding-right: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .form-button:hover,
  .form-button:focus {
    border-color: #404bbf;
  }
  .form-icon {
    margin-left: 0;
  }

  /* modal */
  .modal {
    max-width: calc(100% - 32px);
    max-height: calc(100% - 17px);
    padding: 72px 16px 24px 16px;
  }
  .modal-radio-checkbox {
    margin-bottom: 0px;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  /* header */
  .header-burger {
    display: none;
  }
  .hero {
    max-width: 768px;
    margin: 0 auto;
    background: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @media screen and(resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-mob-2x.jpg);
    }
  }
  .container {
    max-width: 736px;
  }
  /* header */
  .header-nav {
    margin-right: 0;
    flex: 1;
  }
  .header-logo {
    margin: 0;
  }
  .header-menu-list {
    flex: 1;
    justify-content: center;
  }
  .nav-link {
    padding: 24px 0;
  }
  .address-menu-list {
    flex-direction: column;
    gap: 12px 0;
    padding: 16px 0;
  }
  .address-menu-item,
  .address-menu-link {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
  }

  /* hero */
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero-title {
    font-size: 56px;
    line-height: 60px;
    width: 496px;
    margin-bottom: 36px;
  }

  /* services  h 504px*/
  .about-us {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .about-us .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .services-list {
    gap: 72px 24px;
  }
  .services-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .services-subtitle {
    font-size: 36px;
    line-height: 1.11;
  }

  /* team */
  .team-list {
    row-gap: 64px;
  }

  /* portfolio */
  .portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .portfolio-list {
    row-gap: 72px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  /* footer */
  .container-footer {
    padding-left: 108px;
    gap: 76px 24px;
    flex-direction: row;
  }
  .footer-list {
    margin-right: 0;
  }
  .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02;
  }

  /* modal */
  .modal-comment {
    margin-bottom: 0;
  }
}
/* desktop */
@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1158px;
    margin: 0 auto;
    background: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desc-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @media screen and(resolution: 2x) {
    

    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-desc-2x.jpg);
    }
  }
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
        .address-menu-list {
    flex-direction: row;}
  /* services */
  .services-list {
    gap: 0;
    justify-content: space-between;
  }

  .services-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .services-list-icon {
    display: flex;
  }
  .services-item-text {
    letter-spacing: 0;
  }

  /* team */
  .team {
    padding: 120px 0;
  }

  /* portfolio */
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  /* footer */
  .container-footer {
    gap: 0;
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-list {
    margin-right: 120px;
  }
  .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .footer-icon {
    margin-right: 80px;
  }
  .form-button {
    padding: 8px 16px;
  }
  .form-icon {
    margin-left: 0;
  }
  .footer-subscribe {
    width: 453px;
    padding-top: 0;
    gap: 0;
  }

  /* modal */
  .modal-comment {
    margin-bottom: 0;
  }
  /* .mobmenu {
    display: none;
  }
} */
